body {
  /* background: #222222; */
  background: black;
  font-size: 100%;
}

#container {
  background: #000;
  height: 950px;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: center; */
  align-items: center;
}

.button {
  min-height: 3rem;
  min-width: 5rem;
}

.text {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  padding: 0;
}