body {
  /* background: #222222; */
  background: black;
  font-size: 100%;
}

#container {
  background: #000;
  height: 950px;
  /* min-width: 40rem; */
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: center; */
  align-items: center;
}

.text {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4.4rem;
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #container {
    height: 40rem;
    /* align-items: unset; */
  }
}
